@import "variable.scss";


$paddinHeight: 25px;
$paddinWidth: 41px;

.btn {
  padding: 0;
  text-decoration: none;
  border-radius: 11px;
  display: inline-block;
  background: rgb(249, 215, 72);
  background: linear-gradient(90deg, rgba(249, 215, 72, 1) 0%, rgba(245, 192, 66, 1) 100%);
  padding: 25px 41px;
  transition: all .5s;



  @media (max-width:1800px) {
    padding: $paddinHeight*.9 $paddinWidth*.9 ;
  }

  @media (max-width:1600px) {
    padding: $paddinHeight*.8 $paddinWidth*.8 ;
  }

  @media (max-width:1400px) {
    padding: $paddinHeight*.7 $paddinWidth*.7 ;
  }

  @media (max-width:1200px) {
    padding: $paddinHeight*.65 $paddinWidth*.65 ;
  }

  @media (max-width:1100px) {
    padding: $paddinHeight*.56 $paddinWidth*.56 ;
  }

  @media (max-width:900px) {
    padding: $paddinHeight*.5 $paddinWidth*.5 ;
  }

  @media (max-width:800px) {
    padding: $paddinHeight*.45 $paddinWidth*.45 ;
  }

  @media (max-width:600px) {
    padding: $paddinHeight*.6 $paddinWidth*.8 ;
  }

  // @media (max-width:500px) {
  //   padding:$paddinHeight*.35  $paddinWidth*.35 ;
  // }



  &:hover{
    transform: scale(1.1);
   }

  &__text {
    width: 100%;
    height: 100%;
    display: inline-block;
    color: $colorTextBlack;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: $size3;

    @media (max-width:1800px) {
      font-size: $size3*.9;
    }

    @media (max-width:1600px) {
      font-size: $size3*.8;
    }

    @media (max-width:1400px) {
      font-size: $size3*.7;
    }

    @media (max-width:1300px) {
      font-size: $size3*.6;
    }

    @media (max-width:1100px) {
      font-size: $size3*.56;
    }

    @media (max-width:900px) {
      font-size: $size3*.5;
    }

    @media (max-width:800px) {
      font-size: $size3*.45;
    }

    @media (max-width:600px) {
      font-size: $size3*.8;
    }

    @media (max-width:500px) {
      font-size: $size3*.5;
    }



  }
}



// .btn-1{
//   padding: 0;
//   text-decoration: none;
//   border-radius: 5px;
//   display: inline-block;
//   background: transparent;
//   padding:24px 29px;
//   transition:all .5s;
//   border: 1.54568px solid #F5BF41;
//   border-radius: 6.37527px;


//   &:hover{
//     cursor: pointer;
//     box-shadow: 0px 0px 53.2778px #BF3AFF, 0px 0px 53.2778px rgba(255, 255, 255, 0.6);
//    }

//   &__text{
//     width: 100%;
//     height: 100%;
//     display: inline-block;
//     color: $colorTextWhite;
//     font-family: 'Montserrat', sans-serif;
//     font-weight: 400;
//     font-size: $size3;




//   }
// }
