// Text color
$colorTextBlack:#151515;
$colorTextWhite:#FFFFFF;

//Font family
$family1:Monserate;

//Font weight
 
 $weight1:800;
 $weight2:600;


 //Font size

 $size1:100px;
 $size2:35.66px;
 $size3:39.7px;
 $size4:61px;
 $size5:36px;
 $size6:38.52px;
 



//size after block